[color]
  ui = auto
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
[mergetool]
  prompt = false
[alias]
  log-dec="log --oneline --graph --stat --no-merges --decorate"
  log-full="log --graph --stat --name-status --decorate"
  log-comment="log --oneline --no-merges"
  tag-info="for-each-ref --sort=-tag --format='%(taggerdate) %(tag) %(subject)' refs/tags"
  tree="log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
  sts="status"
  sth="stash"
  co="checkout"
  br="branch"
  cmt="commit"
  cl="clone"
  fh="fetch"
  chp="cherry-pick"
[user]
  name = tanish-kr
  email = tora.1986.tatsu@gmail.com
[core]
  excludesFile = ~/.gitignore_global
  editor = vim -u NONE
